<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <title>GroupMeet - Add A Task</title>
</head>
<body class="addTaskBody">
  <div class="taskBox">
      <h2>Add a Task</h2>
    <form name="addTask">
      <label for="name" class="taskLabel">Name:</label>
      <input type="text" class="inputsForRegister" placeholder="Name" name="name"></input><br />
      <label for="taskName" class="taskLabel">Task:</label>
      <input type="text" class="inputsForRegister" placeholder="What are you working on?" name="taskName"></input><br />
      <label for="category" class="taskLabel">Category:</label>
      <input type="radio" class="taskRadioBtn" name="category">To Do</input>
      <input type="radio" class="taskRadioBtn" name="category">In Progress</input>
      <input type="radio" class="taskRadioBtn" name="category">Completed</input>
      <input type="radio" class="taskRadioBtn" name="category">Help</input>
    </form>
  </div>
