<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <title>GroupMeet - Welcome</title>
</head>
<body class="registerLoginBody">

    <div class="registerAndLoginBox">
      <h2>Sign in</h2>

      <form name="register-form" method="POST" action="/user/login">
        <div class="input-box">
          <input type="email" name="email" id="email" placeholder="Email Address" required>
        </div>

        <div class="input-box">
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>

        <input class="registerAndLoginButton" type="submit" value="Sign in">
      </form>

      <div class="anchorterms">
        <a class="terms" href="#">Forgot Password?</a>
      </div>
    </div>
</body>
</html>
