<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="../assets/styles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles.css" type="text/css"/>

    <title>My Account</title>
</head>
<body>
  <div class="grid_12">
      <header id="myAccount">
          <h1 id="accountHeader">My Account</h1>
      </header>
        <div class="accountWrapper">
          <div>
            <h2 class="formTitle">Personal</h2>
            <form>
              <label for="name" class="formLabel">NAME</label><br />
              <input type="text" id="name" name="name"></input><br />
              <label for="email" class="formLabel">EMAIL</label><br />
              <input type="text" id="email" name="email"></input><br />
              <label for="phone" class="formLabel">PHONE</label><br />
              <input type="text" id="phoneNum" name="phone"></input><br />
            </form>
          </div>
          <div>
            <h2 class="formTitle">Password</h2>
            <form>
              <label for="pass" class="formLabel">ENTER CURRENT</label><br />
              <input type="password" id="password" name="pass"></input><br />
              <label for="newpass" class="formLabel">ENTER NEW</label><br />
              <input type="password" id="currentPassword" name="newpass"></input><br />
              <label for="verifypass" class="formLabel">VERIFY NEW</label><br />
              <input type="password" id="verifyPassword" name="verifypass"></input><br />
            </form>
          </div>
        </div>
      </div>
