<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="../assets/styles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles.css" type="text/css"/>

    <title>My Availability</title>
</head>
<body>
    <div class="grid_12">
      <header id="myAvailability">
          <h1 id="availabilityHeader">My Availability</h1>
      </header>
        <div class="availabilityDays">
          <div id="monday">Monday</div>
          <div id="tuesday">Tuesday</div>
          <div id="wednesday">Wednesday</div>
          <div id="thursday">Thursday</div>
          <div id="friday">Friday</div>
          <div id="saturday">Saturday</div>
          <div id="sunday">Sunday</div>
        </div>
