<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <title>GroupMeet - Welcome</title>
</head>
<body>

    <h2>Register</h2>
    
    <form name="register-form" method="POST" action="/user/newUser">
        <label for="email">Enter Your email</label><br>
      <input type="email" name="email" id="email" placeholder="Enter a email..." required>
      <input type="text" name="password" id="password" placeholder="Enter desired password..." required>
      <input type="text" name="firstName" id="firstName" placeholder="Enter first name..." required>
      <input type="text" name="lastName" id="lastName" placeholder="Enter last name..." required>
      <input type="submit" value="submit">
    </form>

</body>
</html>
