<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <title>GroupMeet - Add A Task</title>
</head>
<body class="modalBody">
  <div class="requestBox">
      <h2>Request Meeting</h2>
    <form name="requestMeeting" method="POST" action="/meeting/newMeeting">
      <label for="date" class="taskLabel">Date:</label>
      <input type="Date" class="inputsForRegister" name="idate"></input><br />
      <label for="time" class="taskLabel">Time:</label>
      <input type="Time" class="inputsForRegister" name="itime"></input><br />
      <label for="location" class="taskLabel">Location:</label>
      <input type="text" class="inputsForRegister" placeholder="Meeting Place" name="location"></input><br />
      <label for="requestJoin" class="taskLabel">Who:</label><br>
      <div class="radioDiv">
        <% for(var i=0; i<global.groupMembers.length; i++) {%> 
        <input type="checkbox" class="taskRadioBtn" name="requestJoin" value="<%= global.groupMembers[i]['firstName'] + ' ' + global.groupMembers[i]['lastName'] %>"><%= global.groupMembers[i]['firstName'] + ' ' + global.groupMembers[i]['lastName'] %></input><br>
        <% } %> 
      </div>
      <input type="hidden" name="fullName" value= <%= global.fullName %>>
      <input type="hidden" name="groupId" value= <%= global.groupId %>>
      <input class="modalSubmit" type="submit" value="Send Request">
    </form>
  </div>
