<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/styles.css"/>

    <title>My Account</title>
</head>
<body>
  <%- include('./partials/_TopNavigationPartial.html') %>
  <div class="grid_12 taskManagerDiv">
      <div class="groupButtonDiv">
        <%- include('./partials/_GroupButtons.html') %>
      </div>
      <header id="taskManager">
        <div class="task">
          <% if (typeof group !== undefined) { %>
            <h1 id="taskManagerHeader">Task Manager</h1>
            <a href="/addNewTask" class="groupbtn new">Create New</a>
          <% } else { %>
            <h1 id="taskManagerHeader">Task Manager - <%= group.groupName %> </h1>
            <a href="/addNewTask" class="groupbtn new">Create New</a>
          <% } %>

        </div>
      </header>
      <div class="dragndrop">
        <div class="div_lists">
          <div class="separate_list todoBox">
            <div id="todoHeader">
              To Do
            </div>
            <div class="list-item" draggable="true">
              <h5>Test Task 1</h5>
              <p>Matthew</p>
            </div>
            <div class="list-item" draggable="true">
              <h5>Test Task 2</h5>
              <p>Matthew</p>
            </div>
            <div class="list-item" draggable="true">
              <h5>Test Task 3</h5>
              <p>Matthew</p>
            </div>
          </div>
          <div class="separate_list inProgressBox">
            <div id="inProgressHeader">
              In Progress
            </div>
          </div>
          <div class="separate_list completedBox">
            <div id="completedHeader">
              Completed
            </div>
          </div>
          <div class="separate_list helpBox">
            <div id="helpHeader">
              Help
            </div>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript" src="/assets/dragndrop.js"></script>
</body>
