/* Global CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: white;
}

/* CSS for landing.html */
header#landing {
    background-image: url("./group_meet.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#landing h1 {
    font-size: 55px;
    line-height: 1.5;
}

#landing p {
    font-size: 25px;
}

#landing .buttons, #landing .logo {
    display: inline;
}

#landing .logo {
    margin: 0;
}

#landing .sign-button {
    float: left;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
}

#landing .sign-button:hover {
    background: white;
    color: rgb(156, 50, 37);
}

#information #info_features {
    padding: 10px 10px 0 10px;
    text-decoration: underline;
}

#information {
    color: rgb(156, 50, 37);
    background-color: rgb(251, 229, 214);
}

#information ul {
    padding: 0 20px 20px 20px;
}

#information ul li {
    list-style-type: none;
    margin: 20px;
}

.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}


.weekCalendar {
    border: 1px solid black;
    color: black;
    padding: 5px 40px;
}

#dashboardHeader {
    color: black;
    font-size: 22px;
    padding: 5px 10px;
}

#dashboard {
    border: 1px solid black;
}

#recentActivityHeader {
    color: black;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid black;
}

#recentActivity {
    border: 1px solid black;
    height: 400px;
    width: 853px;
}

#availabilityHeader {
  border-radius: 10px;
  background: red;
  color: white;
  font-size: 20px;
  padding: 0px 5px;
}

#accountHeader {
  border-radius: 10px;
  background: red;
  color: white;
  font-size: 20px;
  padding: 0px 5px;
  width: 115px;
}

.availabilityDays {
  color: black;
  font-size: 16px;
}

.formTitle {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.accountWrapper {
  display: grid;
  grid-template-columns: 400px 400px;
  position: center;
}

.formLabel {
  color: black;
  font-size: 12px;
}

/* Add CSS for _TopNavigationPartial */
.navigation-top {
  overflow: hidden;
  background-color: rgb(241, 149, 95);
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-top img {
  padding: 5px 0 5px 5px;
}

.navigation-top .image-box {
  width: 134px;
  background-color: rgb(150, 45, 32);
}

.navigation-top .nav-right {
  padding-right: 30px;
}

.navigation-top ul {
  display: flex;
  list-style-type: none;
}

.navigation-top li {
  padding-left: 50px;
}

.navigation-top a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 25px;
  color: rgb(150, 45, 32);
}

.navigation-top a:hover {
  color: white;
}

.navigation-top .active {
  color: white;
}

.navigation-side {
  height: 100%;
  width: 118px;
  position: fixed;
  z-index: 1;
  background-color: rgb(241, 149, 95);
  overflow-x: hidden;
  padding: 15px 8px 0 8px;
}

.navigation-side img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50%;
}

.navigation-side #name {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: rgb(150, 45, 32);
}

.navigation-side #line {
  border: 1px solid rgb(150, 45, 32);
  width: 90%;
}

.navigation-side .side-button {
  display: block;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(150, 45, 32);
  color: white;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
}

.navigation-side .between {
  padding: 5px 0;
}

.navigation-side .courses {
  margin-bottom: 40px;
  padding: 10px 10px;
}
