/* Global CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: white;
}

/* CSS for landing.html */
header#landing {
    background-image: url("./group_meet.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#landing h1 {
    font-size: 55px;
    line-height: 1.5;
}

#landing p {
    font-size: 25px;
}

#landing .buttons, #landing .logo {
    display: inline;
}

#landing .logo {
    margin: 0;
}

#landing .sign-button {
    float: left;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 20px;
}

#landing .sign-button:hover {
    background: white;
    color: rgb(156, 50, 37);
}

#information #info_features {
    padding: 10px 10px 0 10px;
    text-decoration: underline;
}

#information {
    color: rgb(156, 50, 37);
    background-color: rgb(251, 229, 214);
}

#information ul {
    padding: 0 20px 20px 20px;
}

#information ul li {
    list-style-type: none;
    margin: 20px;
}

.grid_12 {
    /* float: left;  was being ignored because of display: inline; above*/
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 157px;
    margin-top: 15px;
    width: 90%;
    overflow-x: hidden;
}


.weekCalendar {
    border: 2px solid black;
    border-bottom: 1px solid black;
    color: black;
    width: 200px;
    padding: 15px;
    text-align: center;
}

.timeRow {
    border-top: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 200px;
    padding: 30px;
    text-align: center;
    color: black;
}

.CalendarDay {
    border-top: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 107px;
    width: 200px;
    padding: 30px;
    text-align: center;
    color: black;
}

table {
    border-spacing: 5px 0px;
}

.meetingTimes {
  margin: 0px 15px;
}

#meetingTimes2 {
  width:65%;
  float: left;
}

#calendarTable {
  width: 100%;
}

#dashboardHeader {
    color: black;
    font-size: 26px;
    padding: 5px 10px;
    background-color: #fbe3d4;
}

#dashboardHeader2 {
    color: black;
    font-size: 26px;
    padding: 5px 10px;
    background-color: #fbe3d4;
}

.floatBtn {
  padding: 20px 20px;
}

#dashboard, #dashboard2 {
    border: 1px solid black;
    margin-bottom: 15px;
    margin-top: 15px;
}

#monthDashboard {
  border: 1px solid black;
  margin-bottom: 15px;
  width: 65%;
  float: left;
}

#dashboard2 {
  width: 65%;
  float: left;
}

#recentActivityHeader {
    color: black;
    background-color: #fbe3d4;
    font-size: 22px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid black;
}

#recentActivityHeader2 {
  color: black;
  background-color: #fbe3d4;
  font-size: 22px;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 7px 10px;
}

#recentActivity, #recentActivity2 {
    border: 1px solid black;
    height: 470px;
    margin-top: 15px;
}

#recentActivity2 {
  width: 33%;
  height: 650px;
  float: right;
  margin-top: 0;
}

#availabilityHeader {
  border-radius: 10px;
  background-color: #A34034;
  color: white;
  font-size: 20px;
  padding: 0px 5px;
}

.availabilityDays {
  color: black;
  font-size: 16px;
}

.calendarLeft {
  width: 100%;
}

/* CSS for groupdashboard.html */
.grid_6 {
  width: 98%;
  border: 1px solid black;
}

.availabilityWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 10px;
}

#urlBox {
  height: 270px;
}

#commentBox {
  height: 270px;
}

#boxHeader {
  color: black;
  background-color: #fbe3d4;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid black;
}

.commentBtn, .urlBtn, .inviteBtn, .deleteGroup, .groupBtn {
  background-color: rgb(150, 45, 32);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  width: 8rem;
}

.requestBtn {
  background-color: rgb(150, 45, 32);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 1rem;
  float: right;
  width: 15%;
}

.urlBtn {
  padding: 10px 30px;
  width: 9rem;
}

.groupBtn {
  width: 9rem;
  padding: 15px 5px;
}

.commentBtn {
  padding: 10px 10px;
  width: 9rem;
}

.inviteBtn {
  padding: 10px 5px;
  width: 9rem;
}

.deleteDiv {
  width: 99.5%;
  margin-top: 3rem;
}

.deleteGroup {
  padding: 10px 5px;
  float: right;
}

h1.groupSettingsSubHead {
  color: #962d20;
  font-size: 1.5rem;
}

.groupLinks {
  padding-left: 5px;
}

#urlinput, #commentinput, #groupNameInput, #inviteInput, #membersInput {
  line-height: 38px;
  border: 1px solid rgb(150, 45, 32);
  width: 90%;
  padding-left: 10px;
  font-size: 14px;
}

.groupSettingsInput {
  line-height: 40px;
  font-size: 30px;
}

/* Add CSS for _TopNavigationPartial */
.navigation-top {
  overflow: hidden;
  background-color: rgb(241, 149, 95);
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-top img {
  padding: 5px 0 5px 5px;
}

.navigation-top .image-box {
  width: 134px;
  background-color: rgb(150, 45, 32);
}

.navigation-top .nav-right {
  padding-right: 30px;
}

.navigation-top ul {
  display: flex;
  list-style-type: none;
}

.navigation-top li {
  padding-left: 50px;
}

.navigation-top a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 25px;
  color: rgb(150, 45, 32);
}

.navigation-top a:hover {
  color: white;
}

.navigation-top .active {
  color: white;
}

.navigation-side {
  height: 100%;
  width: 118px;
  position: fixed;
  z-index: 1;
  background-color: rgb(241, 149, 95);
  overflow-x: hidden;
  padding: 15px 8px 0 8px;
}

.navigation-side img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50%;
}

.navigation-side #name {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: rgb(150, 45, 32);
  margin-top: 5px;
}

.navigation-side #line {
  border: 1px solid rgb(150, 45, 32);
  width: 90%;
}

.navigation-side .side-button {
  display: block;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(150, 45, 32);
  color: white;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
}

.navigation-side .between {
  padding: 5px 0;
}

.navigation-side .courses {
  margin-bottom: 40px;
  padding: 10px 10px;
}

.pages {
  background-color: rgb(241, 149, 95);
  color: black;
}

.sideNavHover {
  display: none;
  background-color: rgb(150, 45, 32);
}

#classHover:hover ~ .sideNavHover {
  display: block ;
}

/* CSS for my account */
.peachBody {
  background-color: rgb(251, 229, 214);
}

#accountHeader, #availabilityHeader {
  border-radius: 10px;
  background-color: rgb(150, 45, 32);
  color: white;
  font-size: 28px;
  padding: 0px 0px;
  width: 220px;
}

#myAccount, #myAvailability, #groupSettings {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.accountWrapper {
  display: grid;
  grid-template-columns: 800px 800px;
  padding-left: 130px;
}

/* #fname, #lname, #email, #password, #currentPassword, #verifyPassword {
   width: 70%;
   line-height: 30px;
   padding: 10px;
   font-size: 18px;
} */

.radioDiv {
  margin: 5px 0 5px 0;
}

.inputsForRegister {
  width: 100%;
  line-height: 25px;
  padding: 10px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.inputsForRegister2 {
  width: 80%;
  line-height: 25px;
  padding: 10px;
  margin: 15px 0;
  font-size: 18px;
}

.taskRadioBtn {
  margin: 4% 15px 0 0;
}

.taskRadioBtn:checked, .taskRadioBtn:not(:checked) {
  height: 18px;
  width: 18px;
}

.formTitle {
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0px;
}

.formLabel {
  color: black;
  font-size: 16px;
  padding: 15px 0px;
}

.groupmeet-btn {
  text-align: center;
  margin: 15px 2px;
  border-radius: 5px;
  cursor: pointer;
}

.accountBtns  {
  background-color: gray;
  color: white;
  font-size: 18px;
  padding: 10px 10px;
}
/* All CSS for the register and login pages */
body.registerLoginBody, body.modalBody {
  background-color: #fbe3d4;
}

div.registerAndLoginBox {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid RGB(150, 58, 47);
  background-color: RGB(150, 58, 47);
  padding: 30px;
  border-radius: 8px;
  filter: drop-shadow(5px 10px .4em #000000);
}

div.registerAndLoginBox h2 {
  font-size: 35px;
  border-bottom: 3px solid #ffffff;
  margin-bottom: 40px;
  padding: 5px 0;
  text-align: center;
}

div.input-box {
  width: 100%;
  overflow: hidden;
  font-size: 25px;
  padding: 7px 0;
  margin: 7px 0;
  border-bottom: 2px solid #ffffff;
}

div.input-box input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: white;
  width: 100%;
  float: left;
  padding: 5px;
}

div.input-box input::placeholder {
  color: #ffffff;
}

.registerAndLoginButton, .modalSubmit {
  width: 100%;
  background: none;
  border: 2px solid #ffffff;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  margin: 15px 0;
  cursor: pointer;
}

.registerAndLoginButton:hover, .modalSubmit:hover {
  background-color: #ffffff;
  color: RGB(150, 58, 47);
  font-weight: bold;
}

div.anchorterms {
  text-align: center;
}

a.terms {
  font-size: 12px;
  padding: 8px 0 0 0;
  text-decoration: none;
  color: white;
  width: 100%;
}

/* CSS for task manager */
#taskManager {
  float: left;
  margin: 15px;
}

#taskManagerHeader {
  color: black;
  font-size: 30px;
  font-weight: normal;
}

#createNewBtn {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(150, 45, 32);
  color: white;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
}

.box {
  width: 25%;
  display: inline-block;
}

.todoBox {
  background-color: #D0D0D0;
}

.inProgressBox {
  background-color: #FCF3CF;
}

.completedBox {
  background-color: #D5F5E3;
}

.helpBox {
  background-color: #F5B7B1;
}

#todoHeader {
  background-color: #B0B0B0;
  font-size: 26px;
  color: black;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

#inProgressHeader {
  background-color: #F9E79F;
  font-size: 26px;
  color: black;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

#completedHeader {
  background-color: #ABEBC6;
  font-size: 26px;
  color: black;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

#helpHeader {
  background-color: #F1948A;
  font-size: 26px;
  color: black;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.container {
   display: table;
   width: 100%;
}

/* Specific CSS for the task manager drag and drop page */
.taskManagerDiv {
  box-sizing: border-box;
}

.dragndrop {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
}

.div_lists {
  display: flex;
  flex: 1;
  width: 100%;
  overflow-x: scroll;
}

.div_lists .separate_list {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  height: 100%;
  min-height: 150px;
  margin: 0 35px;
  padding: 8px;
  transition: all 0.2s linear;
}

.div_lists .separate_list .list-item {
  background-color: #962d20;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  margin: 10px 0px;
}

.div_lists .separate_list .list-item h5 {
  font-size: 25px;
}

.div_lists .separate_list .list-item p {
  font-size: 18px;
}

/* add task modal css */
.taskBox {
  width: 400px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid RGB(150, 58, 47);
  background-color: RGB(150, 58, 47);
  padding: 30px;
  border-radius: 8px;
  filter: drop-shadow(5px 10px .4em #000000);
}

/* Partial CSS for group buttons */
.groupButtons {
  text-align: center;
}

.groupbtn {
  text-align: center;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 18px;
  background-color: rgb(150, 45, 32);
  color: white;
  text-decoration: none;
  margin: 15px 8px;
  cursor: pointer;
}

.groupButtonDiv {
  margin: 20px;
}
