<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Navigation</title>
    <link rel="stylesheet" href="/assets/styles.css"/>
  </head>
  <body>
    <!-- top navigation -->
    <div class="navigation-top">
      <div class="image-box">
        <!-- Image for Logo -->
        <a href="/dashboard"><img src="/assets/small_logo_header.png" alt="groupmeet logo" width="100px" height="100px"></a>
      </div>

      <!-- Main navigation -->
      <nav class="nav-right">
        <ul>
          <li><a href="/dashboard">My Dashboard</a></li>
          <li><a href="/MyAvailability">Availability</a></li>
          <li><a href="/MyAccount">Account</a></li>
        </ul>
      </nav>
    </div>

    <!-- side navigation -->
    <div class="navigation-side">
      <!-- put in the profile picture from the database -->
      <% if(userPic == 'Not Signed In') { %>
        <img src="/assets/avatar.png" alt="avatar" width="100px" height="100px">
      <% } else { %>
        <img src="<%= userPic %>" alt="avatar" width="100px" height="100px">
        <% } %>
      

      <!-- for name and email - add from database -->
      <h4 id="name">
        <% if(typeof fullName != 'undefined') { %>
          <%= fullName %>
        <% } %>
      </h4>

      <div class="">
        <a href="/sign-out" class="side-button">Sign Out</a>
        <hr id="line">
        <a href="/addGroup" class="side-button">Add Group</a>
      </div>

      <div class="between"></div>

      <!-- Use a for each loop to loop through the groups of the user -->
      <!-- CODE IS IN THE GET ROUTE FOR /DASHBOARD, cut and paste it here (the for loop)-->
      <% if(typeof groups != 'undefined') { %>
        <% for(var i=0; i<groups.length; i++) {%>
          <a href="/group/getGroup/<%= groups[i]['_id']%>" class="side-button courses"><%= groups[i]["groupName"]%></a>
        <% } %>
      <% } %>
      <!-- <a href="/groupdashboard" class="side-button courses">Capstone</a>
      <a href="/groupdashboard" class="side-button courses">ITIS 3320</a>
      <a href="/groupdashboard" class="side-button courses">ITIS 4166</a>
      <a href="/groupdashboard" class="side-button courses">ITIS 4420</a> -->
    </div>
  </body>
</html>
